/* TYPOGRAPHY */

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #ff1744;
    color: #ffebee;
}

h1 {
    font-size: 60px;
    font-family: 'Yeseva One', cursive;
    padding: 0% 3%;
    color: #ff5252;
    background-color: #ffebee;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

figcaption {
    text-align: center;
    font-size: 14px;
    margin: 8px 0 0 0;
}

.bold {
    font-weight: bold;
}

.attributions {
    font-size: 12px;
}

.first-text-block a:link {
    color: #81f2ff;
    text-decoration: none;
}

.first-text-block a:visited {
    color: #81f2ff;
    text-decoration: none;
}

.first-text-block a:hover {
    background-color: #ffebee;
    color: #ff1744;
}

.second-text-block a:link {
    color: #00b8d4;
    text-decoration: none;
}

.second-text-block a:visited {
    color: #00b8d4;
    text-decoration: none;
}

.second-text-block a:hover {
    background-color: #ff1744;
    color: #ffebee;
}

/* STRUCTURE */

.top-image {
    width: 60%;
    margin: 0 20% 0;
    border: 10px solid #ff8a80;
}

.middle-image {
    width: 85%;
    border: 10px solid #ff8a80;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-image {
    width: 95%;
    border: 10px solid #ff8a80;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    padding: 0% 4%;
}

table {
    margin: 0;
    padding: 0;
}

.left-column {
    width: 40%;
}

.right-column {
    width: 60%;
    vertical-align: middle;
}

.left-column-2 {
    width: 40%;
    vertical-align: middle;
}

.right-column-2 {
    width: 60%;
}

.first-text-block {
    padding: 60px;
    width: auto;
    display: block;
}

.second-text-block {
    background-color: #ffebee;
    padding: 60px;
    color: #ff1744;
    text-align: left;
    line-height: 1.5em;
    width: auto;
    display: block;
}

.third-text-block {
    padding: 60px;
    line-height: 1.5em;
    width: auto;
    display: block;
}

.fourth-text-block {
    background-color: #ffebee;
    padding: 60px;
    color: #ff1744;
    text-align: left;
    line-height: 1.5em;
    width: auto;
    display: block;
}

.fifth-text-block {
    padding: 60px;
    text-align: left;
    line-height: 1.5em;
    width: auto;
    display: block;
}

.descriptions {
    font-size: 14px;
}

.last-paragraph {
    margin: 0 0 100px 0;
}

.attributions {
    padding: 20px 0 0 2px;
    text-align: center;
    border-top: 1px solid #ffebee;
}